[submodule "vim_modules/supertab"]
	path = vim_modules/supertab
	url = git://github.com/ervandew/supertab.git
[submodule "vim_modules/snipmate"]
	path = vim_modules/snipmate
	url = git://github.com/msanders/snipmate.vim.git
[submodule "vim_modules/delimitMate"]
	path = vim_modules/delimitMate
	url = git://github.com/Raimondi/delimitMate.git
[submodule "vim_modules/nerdtree"]
	path = vim_modules/nerdtree
	url = git://github.com/scrooloose/nerdtree.git
[submodule "zsh/zsh-git-prompt"]
	path = zsh/zsh-git-prompt
	url = git://github.com/olivierverdier/zsh-git-prompt.git
[submodule "elisp/emacs-clang-complete-async"]
	path = elisp/emacs-clang-complete-async
	url = git://github.com/Golevka/emacs-clang-complete-async.git
[submodule "elisp/auto-complete"]
	path = elisp/auto-complete
	url = git://github.com/auto-complete/auto-complete.git
[submodule "elisp/yasnippet"]
	path = elisp/yasnippet
	url = git://github.com/capitaomorte/yasnippet
[submodule "elisp/cedet"]
	path = elisp/cedet
	url = git://github.com/emacsmirror/cedet.git
[submodule "elisp/cmake-mode"]
	path = elisp/cmake-mode
	url = git://github.com/alamaison/emacs-cmake-project.git
[submodule "elisp/auto-complete-clang"]
	path = elisp/auto-complete-clang
	url = https://github.com/brianjcj/auto-complete-clang.git
[submodule "elisp/ttcn"]
	path = elisp/ttcn
	url = https://github.com/dholm/ttcn-el.git
[submodule "vim_modules/vim-snippets"]
	path = vim_modules/vim-snippets
	url = https://github.com/honza/vim-snippets.git
[submodule "vim_modules/tlib_vim"]
	path = vim_modules/tlib_vim
	url = https://github.com/tomtom/tlib_vim.git
[submodule "vim_modules/vim-addon-mw-utils"]
	path = vim_modules/vim-addon-mw-utils
	url = https://github.com/MarcWeber/vim-addon-mw-utils.git
[submodule "vim_modules/alternate"]
	path = vim_modules/alternate
	url = https://github.com/vim-scripts/a.vim
[submodule "vim_modules/fugitive"]
	path = vim_modules/fugitive
	url = https://github.com/tpope/vim-fugitive
[submodule "vim_modules/up-and-down"]
	path = vim_modules/up-and-down
	url = https://github.com/vim-scripts/upAndDown

