[submodule "vim/clang_complete"]
	path = vim/clang_complete
	url = git://github.com/Rip-Rip/clang_complete.git
[submodule "vim/supertab"]
	path = vim/supertab
	url = git://github.com/ervandew/supertab.git
[submodule "vim/snipmate"]
	path = vim/snipmate
	url = git://github.com/msanders/snipmate.vim.git
[submodule "vim/delimitMate"]
	path = vim/delimitMate
	url = git://github.com/Raimondi/delimitMate.git
[submodule "vim/nerdtree"]
	path = vim/nerdtree
	url = git://github.com/scrooloose/nerdtree.git
[submodule "zsh/zsh-git-prompt"]
	path = zsh/zsh-git-prompt
	url = git://github.com/olivierverdier/zsh-git-prompt.git
[submodule "elisp/emacs-clang-complete-async"]
	path = elisp/emacs-clang-complete-async
	url = git://github.com/Golevka/emacs-clang-complete-async.git
[submodule "elisp/auto-complete"]
	path = elisp/auto-complete
	url = git://github.com/auto-complete/auto-complete.git
